body
    #creation
        width 100%
        height 100vh
        // background linear-gradient(to bottom right, #F76B1C, #FAD961) fixed
        // padding 4rem
        font-size 2rem
        font-family 'Raleway', sans-serif
        color #fff
        .centered
            text-align center
            padding-bottom 2rem
            h1.creation-page
                font-weight 700
                letter-spacing 0.1rem
                text-align center
            h2         
                font-size 1rem
                font-weight 100
                margin-top 1rem
                letter-spacing 0.1rem
                text-align center
            .container
                width auto
                height auto
                .left
                    padding 0 6vw 0 6vw
                .container-left
                    width 25rem
                    // margin-top 2rem
                    text-align left
                    display inline-block
                    vertical-align middle
                    .instrument
                        width 24rem            
                        margin-top 3rem
                        span
                            font-size 1rem
                            font-weight 700
                            text-transform uppercase
                            letter-spacing 0.3rem
                        .boxes
                            margin-top 1rem
                            .box
                                background white
                                width 5rem
                                height 5rem
                                border-radius 1rem
                                // color #F78B1C
                                font-size 2rem
                                font-weight 700
                                padding-top 1.5rem
                                padding-bottom 2rem
                                margin-right 1.5rem
                                text-align center
                            .box-visible
                                display inline-block
                            .box-invisible
                                display none
                .rec-container
                    width 4rem
                    text-align center
                    display inline-block
                    vertical-align middle
                    margin-left 6rem // 4rem shift between left and right margins
                    margin-right 6rem
                    &:hover
                        cursor pointer
                    .rec-button
                        background #fff
                        width 3.6rem
                        height 3.6rem
                        border-radius 3rem
                        &:hover
                            cursor pointer
                        &:hover .rec-middle
                            transform scale(0.87)
                        .rec-middle
                            background linear-gradient(to bottom right, #9F041B, #F5515F)
                            width 2rem
                            height 2rem
                            border-radius 3rem
                            margin auto
                            transition 0.3s ease-in
                            &:hover
                                cursor pointer
                    .rec-text
                        font-size 1.2rem
                        font-weight 700
                        text-transform uppercase
                        letter-spacing 0.3rem
                        margin-left 0.4rem
            .language
                // width 15rem
                text-align right
                // display inline-block
                // position absolute
                // bottom 2%
                // right 16%
                margin-top 4rem
                margin-right 13rem
                // margin-left 52rem
                span
                    font-size 1rem
                    font-weight 600
                    text-transform uppercase
                    letter-spacing 0.2rem
                    display inline-block
                    vertical-align middle
                .language-button
                    width 3.2rem
                    height 2rem
                    border 2px solid rgba(0, 0, 0, 0.1)
                    border-radius 1rem
                    display inline-block
                    vertical-align middle
                    .language-circle
                        background #fff
                        width 1.7rem
                        height 1.65rem
                        border-radius 1rem
                        border 1px solid rgba(0, 0, 0, 0.1)
                        box-shadow 0 2px rgba(0, 0, 0, 0.1)
                        transform translateX(0)
                        transition transform  0.3s ease-in
        .confirm-button
            font-size 1rem
            color #fff
            font-weight 800
            letter-spacing 0.1rem
            text-transform uppercase
            font-family 'Raleway', sans-serif
            border 0.05rem solid #fff
            border-radius 10rem
            padding 0.2rem 1rem
            vertical-align top
            display inline-block
            margin-left 11.5rem
            margin-top -3.4rem
        .play  
            margin-left 2rem