header
    padding 1rem 6rem 2rem 6rem
    input
        width 10rem
        background #fff
        display inline-block
        color #000
        font-family 'Raileway'
        font-size 1rem
        right 15rem
        top 2.1rem
    h1
        font-size 1.1rem
        letter-spacing 1.3rem
        display inline-block
    .search
        width 14.5rem
        vertical-align bottom
        position absolute
        right 0rem
        top 1rem
        img 
            width 1rem