header
    padding 1rem 6rem 10vh 6rem
    color #fff
    input
        width 10rem
        display inline-block
        border solid 0.05rem #fff
        font-family 'Raleway'
        font-size 0.8rem
        top 2.1rem
        padding 0.7rem 1rem 0.75rem 1rem
        border-radius: 3rem
    ::placeholder
        color #fff
        font-family 'Raleway'
        font-size 0.8rem
    h1
        font-size 1.1rem
        letter-spacing 1.3rem
        display inline-block
        font-family 'EXODUS - PERSONAL USE', sans-serif
    .search
        width 14.5rem
        vertical-align bottom
        text-align right
        position absolute
        right 6rem
        top 1rem
        img 
            width 1.3rem
            vertical-align: bottom;