.index
    width 100vw
    height 100vh
    background: linear-gradient(to bottom right, #9BC2EE, #50B3F3)
    h2
        width 70%
        margin auto
        font-family 'Raleway', sans-serif
        color #fff
        font-size 1.1rem
        text-align center
        margin-bottom 2rem
        line-height 1.3rem
    form
        display inline-block
        margin-left 55%
        button 
            font-family 'Raleway', sans-serif
            font-size 0.8rem
    .music-types
        text-align center
        margin-bottom 7rem
        a
            display inline-block
            width 15rem
            height 15rem
            border-radius 8rem
            color #fff
            font-weight bold
            font-size 1.5rem
            p
                text-align center
                padding-top 39%
                text-transform uppercase
                font-family 'Raleway', sans-serif
        .rock
            background #D0021B
            margin-right 2rem
        .pop
            background #7391D1
            margin-right 2rem
        .rap
            background #7ED321
            margin-right 2rem
        .jazz
            background #F5A623
    .button 
        text-align center
        font-family 'Raleway', sans-serif
        color #fff
        text-transform uppercase
        font-weight bold
        font-size 1.1rem
        a
            padding 0.5rem 2rem
            border 0.1rem solid #fff
            border-radius 3rem

@media screen and (max-width: 740px)
    .index
        header 
            padding: 0rem
            text-align center
        h2
            font-size 0.9rem
        form
            margin 1.7rem 0rem
        .music-types
            margin-bottom 4rem
            a
                width 8rem
                height 8rem
                margin-bottom 1rem
            .rock,.rap,.pop
                margin-right 0rem