.player
    width 100vw
    height 100vh
    background: linear-gradient(to bottom right, #9BC2EE, #50B3F3) fixed
    header 
        padding-top 2rem
    .disc
        width 18rem
        height 18rem
        border-radius 10rem
        margin auto
        background-image url('https://source.unsplash.com/random/400x400')
        position relative
        margin-bottom 3rem
        .center-disk
            width 4rem
            height 4rem
            border-radius 10rem
            background #fff
            position absolute
            top 7rem
            left 7rem
    p
        text-align center
        margin-top 1rem
        font-family 'Raleway', sans-serif
    .music-id
        font-weight 800
        font-size 1.1rem
    .music-genre
        font-weight 100
        font-size 0.9rem