.overflow 
    overflow hidden
.slider 
    width 100% 
    height 100vh
    font-family 'EXODUS - PERSONAL USE', sans-serif
    color #fff
    font-size 2.4rem
    // background: linear-gradient(to bottom right, #F76B1C, #FAD961) fixed
    overflow hidden

     // PREVIOUS AND NEXT CARD - INVISBLE
    .previous, .next
        width 3.9vw
        height 75vh
        position fixed
        top 15%
        background #000
        opacity 0
        z-index 20
        &:hover
            cursor pointer
    .next
        right 0
    .previous
        left 0

    // NOUN OF THE GENRE IN THE BACKGROUND
    .background-genre
        position absolute
        text-transform uppercase
        font-size 40vw
        font-family 'Raleway', sans-serif
        margin-top -1rem
        font-weight 1000
        color #FFF
        opacity 0.04
        text-align center

    // BLOCK CONTAINING ALL THE CARDS
    .cards
        margin-left 37vw
        transition 0.6s cubic-bezier(0.13, 0.5, 0.66, 0.96)
        width 500vw
        .card-genre.rap
            margin-left 32vw
        .card-genre.rock
            margin-left 32vw
        .card-genre.pop
            margin-left 32vw
        .card-genre
            display inline-block
        
        // COLORED PART OF THE CARD
        .card
            width 21rem
            height 21rem
            background #000000
            margin auto
            border-radius 2rem 2rem 0rem 0rem
            padding-left 2.6rem
            padding-right 2.6rem
            padding-top 2rem
            position relative
            z-index 3
            .logo
                text-transform uppercase
                font-family 'EXODUS - PERSONAL USE', sans-serif
                font-size 0.6rem
                letter-spacing 0.8rem
            .title-card
                text-transform uppercase
                font-size 1rem
                font-family 'Raleway', sans-serif
                margin-top 2rem
                font-weight 800
            .description-card
                text-transform none
                font-size 0.8rem
                font-family 'Raleway', sans-serif
                margin-top 1rem
                font-weight 500
                line-height 1.1rem
            .genre
                text-transform uppercase
                font-size 2.1rem
                font-family 'Raleway', sans-serif
                font-weight 900
                opacity 0.4
                position absolute 
                bottom 3rem
                // left 3rem
            .instrument-card
                position absolute
                width 100%
                bottom -5rem
                left 50px
                img 
                    width 66%
        
        // WHITE PART OF THE CARD
        .card-create
            background #fff
            height 10rem
            width 21rem
            margin auto
            border-radius 0rem 0rem 2rem 2rem
            // box-shadow 0px 8px 16px 0px rgba(245,166,35,0.5)
            position relative
            z-index 2
            a
                font-family 'Raleway', sans-serif
                text-transform uppercase
                font-size 1rem
                position absolute
                bottom 1.5rem
                left 4.35rem
                font-weight 700
                padding 0.5rem 4rem
                border solid #000 0.18rem
                border-radius 3rem

.overflow 
    .responsive
        display none
        padding-top 2rem
        height 100vh
        h2
            font-family 'EXODUS - PERSONAL USE', sans-serif
            color #000000
            text-align center
            font-size 1.4rem
            margin-bottom 0.8rem
        p.header
            font-family 'EXODUS - PERSONAL USE', sans-serif 
            text-align center
            font-size 0.3rem
        .cards-responsive
            .card-responsive
                background orange
                margin 2rem auto
                width 90%
                border-radius 1.6rem
                position relative
                transition 0.5s ease-in-out
                // display inline-block
                &:hover
                    cursor pointer
                .responsive-button
                    display none
                    width 18vw
                    background #fff
                    vertical-align top
                    border-radius 1.6rem
                    // height 7r
                    position absolute
                    top 0%
                    right 0%
                .left
                    position absolute
                    top 4%
                    left 10%
                    color #fff
                    font-family 'Raleway', sans-serif
                    font-weight 700
                    opacity 0.1
                    font-size 5em
                .right
                    display inline-block
                    padding-left 1.6rem
                    h3
                        color #ffffff
                        text-transform uppercase
                        font-family 'Raleway', sans-serif
                        font-weight 700
                        margin-bottom 0.6rem
                        padding-top 1rem
                    p
                        font-family 'Raleway', sans-serif
                        color #ffffff
                        line-height 1.1rem
                        font-size 0.6rem
                        font-weight 100
                        padding-bottom 1rem
                        padding-right 1rem


@media screen and (max-width: 840px) 
  .overflow
    .slider
        display none
    .responsive
        display block

