html 
    overflow hidden
.slider 
    width 100% 
    height 100vh
    font-family 'EXODUS - PERSONAL USE', sans-serif
    color #fff
    font-size 2.4rem
    // background: linear-gradient(to bottom right, #F76B1C, #FAD961) fixed
    overflow hidden

     // PREVIOUS AND NEXT CARD - INVISBLE
    .previous
        width 3.9vw
        height 75vh
        position fixed
        left 0
        top 15%
        background #000
        opacity 0
        z-index 20

    .next
        width 3.9vw
        height 75vh
        position fixed
        right 0
        top 15%
        background #000
        opacity 0
        z-index 20

    // NOUN OF THE GENRE IN THE BACKGROUND
    .background-genre
        position absolute
        text-transform uppercase
        font-size 40vw
        font-family 'Raleway', sans-serif
        margin-top -1rem
        font-weight 1000
        color #FFF
        opacity 0.04
        text-align center

    // BLOCK CONTAINING ALL THE CARDS
    .cards
        margin-left 37vw
        transition 0.6s cubic-bezier(0.13, 0.5, 0.66, 0.96)
        width 500vw
        .card-genre.rap
            margin-left 32vw
        .card-genre.rock
            margin-left 32vw
        .card-genre.pop
            margin-left 32vw
        .card-genre
            display inline-block
        
        // COLORED PART OF THE CARD
        .card
            width 21rem
            height 21rem
            background #000000
            margin auto
            border-radius 2rem 2rem 0rem 0rem
            padding-left 2.6rem
            padding-right 2.6rem
            padding-top 2rem
            position relative
            z-index 3
            .logo
                text-transform uppercase
                font-font-family 'EXODUS - PERSONAL USE', sans-serif
                font-size 0.6rem
                letter-spacing 0.8rem
            .title-card
                text-transform uppercase
                font-size 1rem
                font-family 'Raleway', sans-serif
                margin-top 2rem
                font-weight 800
            .description-card
                text-transform none
                font-size 0.8rem
                font-family 'Raleway', sans-serif
                margin-top 1rem
                font-weight 500
                line-height 1.1rem
            .genre
                text-transform uppercase
                font-size 2.1rem
                font-family 'Raleway', sans-serif
                font-weight 900
                opacity 0.4
                position absolute 
                bottom 3rem
                // left 3rem
            .instrument-card
                position absolute
                width 100%
                bottom -5rem
                left 50px
                img 
                    width 66%
        
        // WHITE PART OF THE CARD
        .card-create
            background #fff
            height 10rem
            width 21rem
            margin auto
            border-radius 0rem 0rem 2rem 2rem
            // box-shadow 0px 8px 16px 0px rgba(245,166,35,0.5)
            position relative
            z-index 2
            a
                font-family 'Raleway', sans-serif
                text-transform uppercase
                font-size 1rem
                position absolute
                bottom 1.5rem
                left 4.35rem
                font-weight 700
                padding 0.5rem 4rem
                border solid #000 0.18rem
                border-radius 3rem
